
html {
    font-size: 1rem;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.1rem;
}

.zoomIt {
    display: block !important;
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;
    transition: transform 1s ease-out;
}

.zoomIt:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.estilo-xletra {
    display: flexbox;           
    margin: 0 auto;
    height: 100vh;
}

.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}

.checkbox-label {
    font-size: 12px;
    padding-right: 5px;
}
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.checkbox-container-item {
    display: flex;
    flex-wrap: wrap;
}